<!DOCTYPE html>

<html>

<head>

    <title>Buy cool new product</title>

    <link rel="stylesheet" href="style.css">

    <script src="https://polyfill.io/v3/polyfill.min.js?version=3.52.1&features=fetch"></script>

    <script src="https://js.stripe.com/v3/"></script>

</head>

<body>

    <section>

        <div class="product">

            <img src="https://i.imgur.com/EHyR2nP.png" alt="The cover of Stubborn Attachments" />

            <div class="description">

                <h3>Stubborn Attachments</h3>

                <h5>$20.00</h5>

            </div>

        </div>

        <button id="checkout-button">Checkout</button>

    </section>

</body>

<script type="text/javascript">
    var stripe = Stripe("pk_test_51HRuezHkbzSCimCfF9uWchSOCg7HdqwtHE99QVMZtZxoM3hfO6kaWWUXosglpuH9wX3rdmc1K41s3oU9cC1yw00p00S3qYwwcb");
    var checkoutButton = document.getElementById("checkout-button");
    checkoutButton.addEventListener("click", function () {
        fetch("/create-checkout-session", {
            method: "POST",
        })
            .then(function (response) {
                return response.json();
            })
            .then(function (session) {
                return stripe.redirectToCheckout({ sessionId: session.id });
            })
            .then(function (result) {
                if (result.error) {
                    alert(result.error.message);
                }
            })
            .catch(function (error) {
                console.error("Error:", error);
            });
    });
</script>

</html>